.movie-card {
  width: 100%;
  margin: 0;
  aspect-ratio: 1/1.5;
}

.movie-card img {
  cursor: pointer;
  filter: grayscale(30%);
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 5px var(--box-shadow);
  box-sizing: border-box;
}

.movie-card a {
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
}

.movie-card a[data-blur="true"] {
  -webkit-mask-image: linear-gradient(90deg, white 90%, transparent);
  mask-image: linear-gradient(90deg, white 90%, transparent);
}

.title {
  color: var(--primary-color);
  margin-top: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.title-continuation-dots {
  padding-left: 5px;
  align-self: flex-end;
  flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
  .movie-card a {
    font-size: 1rem;
  }
}
