.menu {
  box-shadow: 0px 0px 10px var(--box-shadow);
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 200px;
}

.menu-header {
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
}

button {
  padding: 0.5rem;
  color: var(--primary-color);
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary-color-hover);
}

.close-button {
  margin-left: auto;
}
