.video-container {
  width: 100%;
  border-radius: 5px;
  margin: 2rem 0;
  background-color: var(--tertiary-color);

  video {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1/0.57;
  }
}

.video-container:fullscreen {
  video {
    height: 100%;
    width: 100%;
  }

  .controller {
    background-color: transparent;
    box-sizing: border-box;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 0;
  }
}

.controller-wrapper {
  position: relative;
}

input[type="range"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  max-height: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.128);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-moz-range-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.128);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-top: -4px;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  background-color: var(--secondary-color);
}

input[type="range"].progress-bar::-moz-range-thumb {
  background-color: var(--secondary-color);
}

.controller {
  padding: 1rem;
  gap: .5rem;
  display: grid;
  grid-template-columns: repeat(2, min-content) auto repeat(2, min-content);
  align-items: center;

  .progress-bar-wrapper {
    position: relative;
    height: 5px;
    grid-column: span 5;
  }

  .progress-bar-wrapper::before {
    content: "";
    border-radius: 5px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--loadWidth);
    background-color: rgba(255, 255, 255, 0.359);
    bottom: 0;
  }
  
  .progress-bar-wrapper::after {
    content: "";
    border-radius: 5px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--currentTime);
    background-color: rgb(105, 0, 0);
    bottom: 0;
  }

  .progress-bar {
    z-index: 1;
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
  }
}

.volume-controller {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    top: 3px;
    aspect-ratio: 1/1;
    position: relative;
    width: 1rem;
  }

  .volume-slider {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .volume-slider-wrapper {
    margin-right: .5rem;
    position: relative;
    height: 5px;
    width: 0;
    transition: width 300ms linear;
  }

  .volume-slider-wrapper::before {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: var(--volume);
    background-color: var(--primary-color);
  }  

  .volume-slider::-webkit-slider-thumb {
    transition: opacity 300ms linear;
    opacity: 0;
  }

  .volume-slider::-moz-range-thumb {
    transition: opacity 300ms linear;
    opacity: 0;
  }
}

.volume-controller:hover {
  .volume-slider-wrapper {
    width: 65px;
  }

  .volume-slider::-webkit-slider-thumb {
    opacity: 1;
  }

  .volume-slider::-moz-range-thumb {
    opacity: 1;
  }
}

.time-display {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  img {
    height: 1rem;
    aspect-ratio: 1/1;
  }
}

.mute-button {
  img {
    position: relative;
    bottom: .2rem;
  }
}

button:hover {
  cursor: pointer;
}

.play-pause-button:focus {
  outline: none;
}

.settings-menu {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  margin: 1rem;
  z-index: 1;
  overflow: auto;
  max-height: 290px;
  min-width: 200px;
  box-shadow: 0 0 10px var(--box-shadow);
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--tertiary-color);

  button {
    text-align: left;
    width: 100%;
    padding: 0.5rem;
    color: var(--primary-color);
    white-space: nowrap;
  }

  label {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5rem;
  }

  button:hover {
    background-color: var(--secondary-color-hover);
  }

  button:active {
    background-color: var(--secondary-color-active);
  }

  label:hover {
    background-color: var(--secondary-color-hover);
  }

  label:active {
    background-color: var(--secondary-color-active);
  }

  label:has(input[type="radio"]:checked) {
    background-color: var(--secondary-color-active);
  }
}

.main-settings-menu {
  button {
    display: flex;
    justify-content: space-between;
  }
}

.settings-menu-button {
  position: relative;
}

.settings-menu-button::after {
  background-color: var(--secondary-color);
  content: attr(videoQuality);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: var(--primary-color);
  position: absolute;
  top: 0;
  transform: translate(80%, -30%);
  width: fit-content;
  height: 60%;
  overflow: hidden;
}

@media screen and (max-width: 475px) {
  .settings-menu {
    max-height: 240px;
  }

  .volume-controller {
    button {
      width: 20px;
    }
  }
}
