.video-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 2rem 0;
  background-color: var(--tertiary-color);

  video {
    width: 100%;
    aspect-ratio: 1/0.57;
  }
}

.controller-wrapper {
  position: relative;
}

.controller {
  margin: 0.5rem;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, min-content) auto repeat(3, min-content);
  align-items: center;

  .progress-bar {
    grid-column: span 7;
  }
}

.time-display {
  margin: 0;
}

.video-container:fullscreen {
  video {
    height: 100%;
    width: 100%;
  }

  .controller {
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

select {
  height: 75%;
  border: none;
}

input[type="radio"] {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  height: 75%;

  img {
    height: 100%;
  }
}

button:hover {
  cursor: pointer;
}

.progress-bar,
.volume-slider {
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  width: var(--loadWidth);
  background-color: rgba(255, 255, 255, 0.359);
  bottom: 0;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--currentTime);
  background-color: var(--secondary-color);
  bottom: 0;
}

.volume-slider::before {
  content: "";
  position: absolute;
  top: 0;
  width: var(--volume);
  background-color: var(--primary-color);
  bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: var(--secondary-color-hover);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-top: -4px;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  background-color: var(--secondary-color);
}

.settings-menu {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  margin: 1rem;
  z-index: 1;

  button {
    text-align: left;
    width: 100%;
    padding: 0.5rem;
    color: var(--primary-color);
    text-wrap: nowrap;
  }

  label {
    box-sizing: border-box;
    padding: 0.5rem;
  }

  button:hover {
    background-color: var(--secondary-color-hover);
  }

  button:active {
    background-color: var(--secondary-color-active);
  }

  label:hover {
    background-color: var(--secondary-color-hover);
  }

  label:active {
    background-color: var(--secondary-color-active);
  }

  label:has(input[type="radio"]:checked) {
    background-color: var(--secondary-color-active);
  }
}
