.video-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 2rem 0;
  background-color: var(--tertiary-color);

  video {
    width: 100%;
    aspect-ratio: 1/0.57;
  }
}

.controller-wrapper {
  position: relative;
}

.controller {
  margin: 1rem;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, min-content) auto repeat(2, min-content);
  align-items: center;

  .progress-bar {
    grid-column: span 5;
  }
}

.volume-controller {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    top: 3px;
    aspect-ratio: 1/1;
    position: relative;
    width: 25px;
  }

  .volume-slider {
    width: 0;
    transition: width 300ms linear;
  }

  .volume-slider::-webkit-slider-thumb {
    transition: opacity 300ms linear;
    opacity: 0;
  }
}

.volume-controller:hover {
  .volume-slider {
    width: 150px;
  }

  .volume-slider::-webkit-slider-thumb {
    opacity: 1;
  }
}

.time-display {
  margin: 0;
}

.video-container:fullscreen {
  video {
    height: 100%;
    width: 100%;
  }

  .controller {
    background-color: transparent;
    box-sizing: border-box;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 0;
  }
}

input[type="radio"] {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  height: 75%;

  img {
    height: 100%;
  }
}

button:hover {
  cursor: pointer;
}

.play-pause-button {
  aspect-ratio: 1/1;
}

.progress-bar,
.volume-slider {
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  width: var(--loadWidth);
  background-color: rgba(255, 255, 255, 0.359);
  bottom: 0;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--currentTime);
  background-color: var(--secondary-color);
  bottom: 0;
}

.volume-slider::before {
  content: "";
  position: absolute;
  top: 0;
  width: var(--volume);
  background-color: var(--primary-color);
  bottom: 0;
}

input[type="range"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  height: fit-content;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: var(--secondary-color-hover);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-top: -4px;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  background-color: var(--secondary-color);
}

.settings-menu {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  margin: 1rem;
  z-index: 1;

  button {
    text-align: left;
    width: 100%;
    padding: 0.5rem;
    color: var(--primary-color);
    text-wrap: nowrap;
  }

  label {
    box-sizing: border-box;
    padding: 0.5rem;
  }

  button:hover {
    background-color: var(--secondary-color-hover);
  }

  button:active {
    background-color: var(--secondary-color-active);
  }

  label:hover {
    background-color: var(--secondary-color-hover);
  }

  label:active {
    background-color: var(--secondary-color-active);
  }

  label:has(input[type="radio"]:checked) {
    background-color: var(--secondary-color-active);
  }
}

.main-settings-menu {
  button {
    display: flex;
    justify-content: space-between;
  }
}

.settings-menu-button {
  position: relative;
}

.settings-menu-button::after {
  background-color: var(--secondary-color);
  content: attr(videoQuality);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: var(--primary-color);
  position: absolute;
  top: 0;
  transform: translate(80%, -30%);
  width: fit-content;
  height: 60%;
  overflow: hidden;
}
