<div
  (fullscreenchange)="onFullScreenChange()"
  (mousemove)="onMouseMove()"
  #videoPlayer
  class="video-container"
>
  <video
    (click)="togglePlayPause()"
    (loadeddata)="onVideoSrcChange()"
    (progress)="onBufferProgressUpdate()"
    (durationchange)="onDurationChange()"
    [volume]="volume / maxVolume"
    [muted]="isMute"
    class="video-element"
    src="{{ videos && videos[defaultVideoIndex].src }}"
    (ended)="onVideoEnded()"
  >
    Your browser does not support the video tag.
  </video>

  <div class="controller-wrapper">
    <div class="controller" *ngIf="isControllerVisible">
      <!-- Firefox don't have ::before and ::after support for input type range so use I it on a wrapper to
        achieve the same result
      -->
        <div
          class="progress-bar-wrapper"
          [ngStyle]="{
            '--loadWidth': bufferProgress + '%',
            '--currentTime': currentTimeInPercentage + '%'
          }"
        >
          <input
            aria-label="video progress bar"
            (input)="onProgressBarValueChange($event)"
            class="progress-bar"
            type="range"
            min="0"
            [max]="duration"
            step="1"
            [value]="currentTime"
          />
        </div>
      
      <button class="play-pause-button" (click)="togglePlayPause()">
        <img
          alt="play button"
          src="assets/images/control-icons/play-solid.svg"
          *ngIf="!isPlaying"
        />
        <img
          alt="pause button"
          src="assets/images/control-icons/pause-solid.svg"
          *ngIf="isPlaying"
        />
      </button>

      <div class="volume-controller">
        <button class="mute-button" (click)="toggleMuteUnmute()">
          <img
            alt="high volume icon"
            *ngIf="!isMute && volume > 50"
            src="assets/images/control-icons/volume-high-solid.svg"
          />
          <img
            alt="low volume icon"
            *ngIf="!isMute && volume <= 50"
            src="assets/images/control-icons/volume-low-solid.svg"
          />
          <img
            alt="mute icon"
            *ngIf="isMute"
            src="assets/images/control-icons/volume-xmark-solid.svg"
          />
        </button>
        <div
          [ngStyle]="{
          '--volume': volume + '%'}"
          class="volume-slider-wrapper"
        >
          <input
            aria-label="volume slider"
            class="volume-slider"
            type="range"
            min="0"
            max="100"
            step="1"
            value={{volume}}
            (input)="onVolumeChange($event)"
          />
        </div>
      </div>

      <p class="time-display">{{ timeDisplay }}</p>
      <button (click)="toggleFullScreen()">
        <img alt="fullscreen icon" src="assets/images/control-icons/expand-solid.svg" />
      </button>

      <button
        [attr.videoQuality]="videos && videos[defaultVideoIndex].quality"
        class="settings-menu-button"
        (click)="openSettingsMenu()"
      >
        <img alt="options icon" src="assets/images/control-icons/gear-solid.svg" />
      </button>

      <settings-menu
        (close)="closeSettingsMenu()"
        [isOpen]="isSettingsMenuOpen"
        class="settings-menu main-settings-menu"
      >
        <button (click)="openPlaybackMenu()">
          <span>Playback speed</span>&gt;
        </button>
        <button (click)="openVideoQualityMenu()"><span>Quality</span>&gt;</button>
      </settings-menu>

      <settings-menu
        [showBackButton]="true"
        (goBack)="openSettingsMenu()"
        (close)="closeSettingsMenu()"
        [isOpen]="isPlaybackSpeedMenuOpen"
        class="settings-menu"
      >
        <label
          *ngFor="let rate of playbackRates"
          (click)="setPlaybackRate(rate)"
          ><input
            name="playbackRate"
            type="radio"
            [checked]="rate === currentPlaybackRate"
          />
          {{ rate === 1 ? "Normal" : rate }}
        </label>
      </settings-menu>

      <settings-menu
        [showBackButton]="true"
        (goBack)="openSettingsMenu()"
        (close)="closeSettingsMenu()"
        [isOpen]="isQualityMenuOpen"
        class="settings-menu"
      >
        <label
          *ngFor="let videoSrc of videos; let index = index"
          (click)="onVideoQualityChange(index)"
          ><input
            name="videoQuality"
            type="radio"
            [checked]="videoSrc.quality === currentVideoQuality"
          />
          {{ videoSrc.quality }}
        </label>
      </settings-menu>
    </div>
  </div>
</div>
