.movie-section {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.trending {
  margin: 0 1rem 2rem;
  background-color: rgb(126, 126, 126);
  height: 300px;
}
