/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: white;
  --secondary-color: rgb(149, 0, 255);
  --secondary-color-hover: rgb(94, 0, 161);
  --secondary-color-active: rgb(118, 1, 201);
  --tertiary-color: black;
  --box-shadow: gray;
}

body {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}
