/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: white;
  --secondary-color: #9b1c31;
  --secondary-color-hover: gray;
  --secondary-color-active: rgb(106, 106, 106);
  --tertiary-color: black;
  --box-shadow: gray;
}

body {
  background-color: rgb(26, 26, 26);
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}
