main {
  color: var(--primary-color);
  min-height: 60vh;
}

h1 {
  background-color: var(--secondary-color);
  padding: 1rem;
  color: var(--primary-color);
  margin-top: 0;
  grid-column: span 2;
}

.movie-details {
  border-top: white solid 1px;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto min-content auto;

  img {
    border-radius: 10px;
    aspect-ratio: 1/1.5;
    max-width: 300px;
    width: 300px;
    margin-right: 2rem;
    grid-row: span 10;
  }

  span {
    margin-left: 0.5rem;
  }
  span:first-child {
    margin-left: 0;
  }
}

.description {
  line-height: 2rem;
  margin: 0 0 2rem;
  grid-column: span 2;
}

.field-name {
  width: min-content;
  justify-self: flex-end;
  grid-column: 2;
  padding-right: 1rem;
  color: rgba(255, 255, 255, 0.728);
  line-height: 2rem;
  margin: 0;
}

.field-value {
  line-height: 2rem;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .movie-details {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 850px) {
  img {
    display: none;
  }

  .movie-details {
    grid-template-columns: min-content auto;
    margin: 0 1rem;
  }

  .field-name {
    width: min-content;
    justify-self: flex-end;
    grid-column: 1;
    padding-right: 1rem;
    line-height: 1.6rem;
    margin: 0;
  }
}
